body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
nav{
    height:50px;
    background-color: red;
    padding-top: 2.8rem;
    padding-left: var(--pading);
    padding-right: var(--pading);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.2rem;
    margin-bottom: 45px;
    text-color: white;
    }
    nav ul li a{
    color: var(--ligthcolor);
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 20px;
}
nav ul li a:hover{
    color: white;
    transition: 0.5s;
}

header {
  background-color: #333;
  color: black;
  padding: 20px;
}

h1 {
  margin: 0;
  text-align: center;
  color: red;
}
h2{
   text-align: center;  
 }
#books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}
.book {
  background-color: #f2f2f2;
  padding: 10px;
}
a{
  text-decoration: none;
}
a:hover{
    color: darkorange;
    transition: 0.5s;
  }
p{
  text-align: center; 
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}